*{
    list-style-type: none;
}

/* Variáveis do projeto */
:root
{
    --radius:5px;
    --pading:7px;
    --gap:5px;
    --bg-color-footer:#002B5D;
    --bg-color-menu:#DC3545;
    --fonte:Arial, Helvetica, sans-serif;   
    --tamanho-fonte-texto:12px;
    --tamanho-fonte-titulo:14px;
    --tamanho-fonte-menu:18px;
    --cor-fonte-menu:#FFFFFF;
    --cor-fonte-conteudo:#FFFFFF;
    --opacidade: ;
}

body
{
    font-family: var(--fonte);
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.container
{
    display: flex;
    flex-direction: column;
}   


/* Configurações do menu */
.topo-menu
{
    display: flex;
    border-radius: var(--radius);
    align-items: center;
    margin: 0;
    padding: 10px;
    justify-content: space-between;
}
.menu
{
    display: flex;
    border-radius: var(--radius);
    background-color: var(--bg-color-menu);
    align-items: center;
    margin: 0;
    padding: var(--pading);
    justify-content: center;
    height: 60px;
}
.menu-items
{
    border-radius: var(--radius);
    background-color: var(--bg-color-menu);
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 25px;
}
.menu-items li{margin-left: 15px}
.menu-items li:first-child{margin-left: 15px;}
.menu-items li a
{
    text-decoration: none;
    color: var(--cor-fonte-menu);
}
.menu li::before 
{
    color: var(--cor-fonte-menu);
    content: "| "; /* Insere o "|" e um espaço antes */
    display: inline-block; /* Torna o elemento inline */
    margin-right: 10px; /* Adiciona espaço à direita */
}
.menu li:first-child::before {content: ""; /* Remove o "|" do primeiro item */}
.menu-items li a:hover
{
    font-weight: bold;
}
.botao-entrar-index
{
    font-family: var(--fonte);
    text-align: center;
    border: 0;
}

/* Configurações do footer */
footer
{
    color: var(--cor-fonte-conteudo);
    background-color: var(--bg-color-footer);
    border-radius: 0;
    padding: 20px;
}
.container-footer
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer-section
{
    flex: 1;
    max-width: 30%;
    text-align: left;
}
.footer-bottom
{
    margin: 0;
    vertical-align: baseline;
    text-align: center;
    font-size: 10px;
}
.footer-section strong{text-align: center;}
.footer-section li a
{
    text-decoration: none;
    color: #f2f2f2;
    text-align: center;
}
.footer-section li a:hover{font-weight: bold}
footer ul li{padding-bottom: 5px;}

/* Cofigurações do main */
.main-container {
    display: flex;
    flex-wrap: wrap; /* Permite quebrar linhas se necessário */
    align-items: flex-start; /* Alinha os itens no topo */
  }

.main-container h1 {
    
    margin-top: 30px; 
    margin-bottom: 0px;
    font-size: 2.5em; /* Tamanho da fonte */
    
}

.teste01 p{
    text-align: justify;       
    margin-bottom: 40px;
    border-radius: 10px;      /* Borda arredondada */
    width: 40%;
    font-size: 1em;
    line-height: 1.6;
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
    margin-left: 600px;
    flex: 1;
    
}



.teste01 h2 {
    margin-left: 600px;
    margin-bottom: 20px;
    font-size: 1.8em;
    flex: 1;
    width: 40%; 
}

.main-container  img {
    
    float: left; /* Flutua a imagem para a esquerda */
  margin-right: 20px; /* Adicione espaço à direita da imagem */
  width: 50%;
  border-radius: 10px;
} 

.teste02 {
    display: flex;
}

.coluna1 {
    flex: 1;
    margin-right: 100px; /* Espaço entre as colunas */
    margin-left: 20px;
    
}



.coluna1 h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
    
}

.coluna1 p {
    text-align: justify;
    border-radius: 10px; /* Borda arredondada */
    font-size: 1em;
    line-height: 1.6;
    padding: 0 5px; /* Espaçamento interno horizontal */
    margin-bottom: 40px;
    border-radius: 10px;      /* Borda arredondada */
    font-size: 1em;
    line-height: 1.6;
    padding-left: 5px;
    padding-right: 5px;
}
.coluna2 {
    flex: 1;
    margin-right: 100px; /* Espaço entre as colunas */
    margin-left: 20px;
    
}



.coluna2 h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
    
}

.coluna2 p {
    text-align: justify;
    border-radius: 10px; /* Borda arredondada */
    font-size: 1em;
    line-height: 1.6;
    padding: 0 5px; /* Espaçamento interno horizontal */
    margin-bottom: 40px;
    border-radius: 10px;      /* Borda arredondada */
    font-size: 1em;
    line-height: 1.6;
    padding-left: 5px;
    padding-right: 5px;
}







