*{
    list-style-type: none;
}

/* Variáveis do projeto */
:root
{
    --radius:5px;
    --pading:7px;
    --gap:5px;
    --bg-color-footer:#002B5D;
    --bg-color-menu:#DC3545;
    --fonte:Arial, Helvetica, sans-serif;   
    --tamanho-fonte-texto:12px;
    --tamanho-fonte-titulo:14px;
    --tamanho-fonte-menu:18px;
    --cor-fonte-menu:#FFFFFF;
    --cor-fonte-conteudo:#FFFFFF;
    --opacidade: ;
}

body
{
    font-family: var(--fonte);
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.container
{
    display: flex;
    flex-direction: column;
}   


/* Configurações do menu */
.topo-menu
{
    display: flex;
    border-radius: var(--radius);
    align-items: center;
    margin: 0;
    padding: 10px;
    justify-content: space-between;
}
.menu
{
    display: flex;
    border-radius: var(--radius);
    background-color: var(--bg-color-menu);
    align-items: center;
    margin: 0;
    padding: var(--pading);
    justify-content: center;
    height: 60px;
}
.menu-items
{
    border-radius: var(--radius);
    background-color: var(--bg-color-menu);
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 25px;
}
.menu-items li{margin-left: 15px}
.menu-items li:first-child{margin-left: 15px;}
.menu-items li a
{
    text-decoration: none;
    color: var(--cor-fonte-menu);
}
.menu li::before 
{
    color: var(--cor-fonte-menu);
    content: "| "; /* Insere o "|" e um espaço antes */
    display: inline-block; /* Torna o elemento inline */
    margin-right: 10px; /* Adiciona espaço à direita */
}
.menu li:first-child::before {content: ""; /* Remove o "|" do primeiro item */}
.menu-items li a:hover
{
    font-weight: bold;
}
.botao-entrar-index
{
    font-family: var(--fonte);
    text-align: center;
    border: 0;
}

.botao-entrar-index a:hover
{
    font-weight: bold;
}

/* Configurações do footer */
footer
{
    color: var(--cor-fonte-conteudo);
    background-color: var(--bg-color-footer);
    border-radius: 0;
    padding: 20px;
    margin-top: 20px;
}
.container-footer
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer-section
{
    flex: 1;
    max-width: 30%;
    text-align: left;
}
.footer-bottom
{
    margin: 0;
    vertical-align: baseline;
    text-align: center;
    font-size: 10px;
}
.footer-section strong{text-align: center;}
.footer-section li a
{
    text-decoration: none;
    color: #f2f2f2;
    text-align: center;
}
.footer-section li a:hover{font-weight: bold}
footer ul li{padding-bottom: 5px;}

header{
    margin-bottom: 20px;
}

main{
    padding-top: 20px;
    padding-left: 50px;
}
.main-container{
    display: flex;

}
main h1{
    text-align: justify;
}
main p {
text-align: justify;
}


.Tabelas-container{
    
        float: left;
        width: 50%;
        box-sizing: border-box;
        padding: 10px;
        height: 300px; 
}

.Tabelas th, .Tabelas td {
    border: 1px solid;
    padding: 8px;
}
.Tabelas{
    text-align: center;
    margin-right: 40px;
    flex:1;
    vertical-align: top;
    float: left;
    flex-direction: column;
    margin-top: -10px;

}
.Tabelas h2 {
    text-align: left;
}
.Tabelas p{
    text-align: justify;
}
.Paragrafo p{
    text-align: justify;
    margin: 20px;
}
.Tabelas th{
    background-color: #DC3545;
    color: #FFFFFF;
}
.Paragrafo h3{
    text-align: left;
}

.Historia{   
     margin-top: 30px;
     text-align: justify;

}
aside{
    text-align: right;
}
iframe{
    margin-top: 2%;
   

}
.Video h2{
    margin-top: 4%;
}

.Video p {
    text-align: justify;
    padding: 20px;
}
.Negrito{
    font-weight: bold;
    margin-top: 5%;



}
.Video iframe{
    float: left;
    flex:1;
    margin-right: 20px;
}
.Historia p{
    column-count: 2;
    width: 90%;
    margin-right: 20px;
    column-gap: 25px;
    text-align: justify;
}
.SobreAllStar p{
    width:40%;
    text-align: justify;
    column-count: 1;
}

    

.SobreAllStar img{
    width: 513px;
    height: 259px;
    flex:1;
    float: right;
    margin-top: -50px;
    margin-right: 90px;

}
.Historia h2{
    margin-top: 21px;
}


.Tebelas-container
{
    padding-left: 50px;
}

.p
{
    text-align: justify;
}