/* Variáveis do projeto */
:root
{
    --radius:5px;
    --pading:7px;
    --gap:5px;
    --bg-color-footer:#002B5D;
    --bg-color-menu:#DC3545;
    --fonte:Arial, Helvetica, sans-serif;   
    --tamanho-fonte-texto:12px;
    --tamanho-fonte-titulo:14px;
    --tamanho-fonte-menu:18px;
    --cor-fonte-menu:#FFFFFF;
    --cor-fonte-conteudo:#FFFFFF;
    --opacidade: ;
}

.html
{
    margin: 0;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.container
{
    display: flex;
    align-content: center;
    justify-content: center;
}

body
{
    font-family: var(--fonte);
}

.formulario
{
    flex: 1;
    align-content: center;
    justify-content: center;
}

.mb-3
{
    width: 369px;
}

.botao-newsletter button
{
    font-size: big;
    text-align: center;
    margin-bottom: 10px;
    width: 369px;
}

.imagem
{
    flex: 1;
}


